<div class="page">
    <div class="section">
        <div class="title">Register to get started!</div>

        <div class="form">
            <div>
                <label>Username: </label>
                {{input type='text' valueBinding='username'}}
            </div>
            <div>
                <label>Password: </label>{{input type='password' valueBinding='password'}}
            </div>
            <div>
                <button {{action register}}>Register</button>
            </div>
        </div>
    </div>
</div>